@import 'bootstrap.min'
@import 'code'
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700)

body
  margin: 0
  padding: 0
  font-family: 'Droid Sans', sans-serif

mark
  background-color: lightyellow
  padding: 3px

// Site styles
.main
  font-size: 1.2em

// Homepage
.home_header
  margin-top: -22px
  width: 100%
  height: 600px
  background-color: #222
  background-image: image-url('okc-header.jpg')
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  background-position: 50% 0
  .overlay
    height: 100%
    width: 100%
    background-color: #222
    opacity: 0.9
    text-align: center
    padding-top: 15%
    color: #fff
  .lead
    color: #fff

.index
  .main
    text-align: center
    padding-top: 4em

// Skills styles
.table-skills
  font-size: 0.8em
  .language
    font-weight: bold
  .skill
    width: 70%
  .progress
    margin-bottom: 3px
  .progress-bar
    text-align: left
  .progress-bar span
    margin-left: 5px


// blog styles
.blog
  h1
    margin: 1.5em 0
  h2, h3, h4, h5, h6, p
    margin: 1.3em 0
  .panel h2
    margin-top: 0
  .main
    img
      max-width: 100%

// Post styles
h1.post_title
  border-bottom: 1px dotted #333

.post_date
  font-size: 0.5em
  margin: 5px
  color: #aaa

.post_tags
  border-top: 1px dotted #333
  padding-top: 20px

.tags
  list-style: none
  margin: 0
  overflow: hidden
  padding: 0

.tags li
  float: left

.tag
  font-size: 0.8em
  background: #eee
  border-radius: 3px 0 0 3px
  color: #777
  display: inline-block
  height: 26px
  line-height: 26px
  padding: 0 20px 0 23px
  position: relative
  margin: 0 10px 10px 0
  text-decoration: none
  -webkit-transition: color 0.2s

.tag::before
  background: #fff
  border-radius: 10px
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25)
  content: ''
  height: 6px
  left: 10px
  position: absolute
  width: 6px
  top: 10px

.tag::after
  background: #fff
  border-bottom: 13px solid transparent
  border-left: 10px solid #eee
  border-top: 13px solid transparent
  content: ''
  position: absolute
  right: 0
  top: 0

.tag:hover
  background-color: #777
  color: #fff
  text-decoration: none

.tag:hover::after
  border-left-color: #777

// Promo box
.promo_box
  border: 1px solid #aaa
  margin-top: 40px
  padding-bottom: 16px
  background-color: #ffffef
  font-size: 18px

  .promo_head
    padding: 10px
    margin-bottom: 16px
    background-color: #536168
    color: #fff
    h2
      font-size: 1.3em
      margin: 0

  .promo_image
    float: left

  .promo_body
    float: left

    h3
      margin: 4px 0
    h4
      margin-top: 0
      line-height: 1.5em
      font-style: italic

  .promo_end
    clear: both

.promo_home
  margin: 0 10%

// footer
#page_foot
  background-color: #eee
  margin-top: 3em

.contact_icons
  padding: 0 0 0 20px
  height: 75px
  ul
    margin: 0
    padding: 0
  li
    float: left
    margin: 0
    padding-right: 10px
    list-style: none
  img
    width: 44px
    height: 44px
