---
title:
---

.col-md-10.col-md-offset-1
  p.lead
    | I am a web and mobile developer living in Oklahoma City. I created my first
      website at the age of 12 and have been focused on web development ever since.
      I code primarily using <mark>JavaScript</mark>/<mark>node.js</mark>, <mark>PHP</mark>, and
      <mark>Ruby</mark>, and have released many <a href="https://github.com/vlucas">popular open-source projects</a>. I
      am heavily involved in the community, and help to run the <a
      href="http://okcjs.com">OKC.js</a> user group and put on the <a
      href="http://thunderplainsconf.com">Thunder Plains</a> developer
      conference. I am an international conference speaker, and have a lot of
      experience all over the place in code - backend, frontend, mobile, APIs,
      testing, deployment, and more. I love solving hard problems. <a href="/contact">Let me know</a>
      if I can help you with yours.

